rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /devices/{deviceId} {
      
      
      // Read access: Public (empty list) or User in list
      function isAllowed(data) {
        return request.auth.token.email in data.allowed_emails;
      }
      

      // Rules for the device document itself
      allow read: if isAllowed(resource.data);
      
      allow update: if isAllowed(resource.data);
     
      // Rules for the commands subcollection
      match /commands/{commandId} {
        function getDeviceData() {
          return get(/databases/$(database)/documents/devices/$(deviceId)).data;
        }

        allow read, write: if isAllowed(getDeviceData());
      }
    }
  }
}
